<div ng-app="myApp" ng-controller="myCtrl">

  <table>
    <th>
      <td>ID</td>
      <td>Date<td>
      <td>APN</td>
      <td>Address</td>
      <td>City</td>
      <td>Max Rate</td>
      <td>Interest Rate</td>
      <td>Loan Amount</td>
      <td>Loan Term</td>
    </th>

    <tr ng-repeat="data in table_data">
      <td>{{data}}</td>
 
      <tr>
    </th>
  </table>
</div>