

<div style="width: 100%; height: 60px; background: #DCE4EA; padding: 10px">
  <div class="container">
    <div class="row">
      <h2 style="color: #0088D4; margin: 0;">List View Columns</h2>
    </div>
  </div>
</div>

<!--  Search Field Block -->
<div class="container" >
  <div class="row" style="margin: 25px 0px;">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="search" class="col-sm-1 col-sm-offset-2"><span style="font-size: 24px;">Search</span></label>
        <div class="col-sm-5">
          <input id="search" class="form-control" ng-model="query">
        </div> 
        <div class="col-sm-4" style="text-align: right">
         <span id="reset_default_term">
            <span >Reset To Default</span> <span id="reset_default">X</span>
         </span>
      </div> 
      </div>
    </form>

  </div>
</div>
<!-- End of Search Field Block -->

<!--  Advanced Search Field Block -->
<div  class="container">
  <div class="row" >
   <span id="advanced_search_buttom"  style="color: #0088D4; font-size: 20px;"><span style="color:#DFDFDF; font-size: 15px; margin-right: 5px;"><i class="fa fa-chevron-down" ></i></span >Additional Options</span>
  </div>

  <div id="advanced_search_block" class="row">
      <div class="form-group col-sm-2">
          {{min_loan_term_title}}: <input class="form-control" id="min-loan-term" type="text">
      </div>
      <div class="form-group col-sm-2">
          {{max_loan_term_title}}: <input class="form-control" id="max-loan-term"type="text">
      </div>

      <div class="form-group col-sm-2">
        <select id="loan-amount" class="my_selected form-control"  >
          <option selected="selected">{{loan_amount_title}}</option>
          <option value="10000">$10,000+</option>
          <option value="20000">$20,000+</option>
          <option value="30000">$30,000+</option>
          <option value="50000">$50,000+</option>
          <option value="75000">$75,000+</option>
          <option value="100000">$100,000+</option>
          <option value="125000">$125,000+</opton>
          <option value="150000">$150,000+</opton>
          <option value="175000">$175,000+</opton>
          <option value="200000">$200,000+</opton>
          <option value="225000">$225,000+</opton>
          <option value="250000">$250,000+</opton>
          <option value="300000">$300,000+</opton>
          <option value="350000">$350,000+</option>
          <option value="400000">$400,000+</option>
          <option value="450000">$450,000+</option>
          <option value="500000">$500,000+</option>
          <option value="600000">$600,000+</option>
          <option value="700000">$700,000+</option>
          <option value="800000">$800,000+</option>
          <option value="1000000">$1M+</option>
          <option value="1250000">$1.25M+</option>
          <option value="1500000">$1.5M+</option>
          <option value="1750000">$1.75M+</option>
          <option value="2000000">$2M+</option>
          <option value="2500000">$2.5M+</option>
          <option value="3000000">$3M+</option>
        </select>
      </div>

      <div class="form-group col-sm-2">
        Date:<br><br>
        Beginning Date:<input id="beginning-date" type="text"><br><br>
        End Date: <input id="ending-date" type="text">



      </div>
  </div> <!-- End of Row Div -->
</div> <!-- End of Container Div  -->
<!--  End of Advanced Search Field Block -->

<!-- Table Column Filteration Block -->
<div class="container">
  <div class="row" >
   <span id="column_filter_buttom"  style="color: #0088D4; font-size: 20px;"><span style="color:#DFDFDF; font-size: 15px; margin-right: 5px;"><i class="fa fa-chevron-down" ></i></span >Columns Filtration Options</span>
  </div> <!-- End of row div -->
</div> <!-- End of container div -->


<div id="column_filter_block" class="container">
  <div class="row">
     <div class="col-sm-3">
        <div class="filter_cat_title"> General Info</div>
        <hr>
        <ul>
          <li style="list-style-type: none;margin:15px 5px;" ng-repeat="option in col_general_info_titles.options" ><input class="toggle-visit" type="checkbox" checked data-column-num="{{$index + col_general_info_titles.start }}"> {{option}} </li>
        </ul>
     </div>
     <div class="col-sm-3">
        <div class="filter_cat_title">Address</div>
        <hr>
        <ul>
          <li style="list-style-type: none;margin:15px 5px;" ng-repeat="option in col_address_titles.options" ><input class="toggle-visit"  type="checkbox" checked data-column-num="{{$index + col_address_titles.start }}"> {{option}} </li>
        </ul>
     </div>
      <div class="col-sm-3">
        <div class="filter_cat_title">Loan Info</div>
        <hr>
        <ul>
          <li style="list-style-type: none;margin:15px 5px;" ng-repeat="option in col_loan_info_titles.options" ><input class="toggle-visit"  type="checkbox" checked data-column-num="{{$index + col_loan_info_titles.start }}"> {{option}} </li>
        </ul>
     </div>
     <div class="col-sm-3">
        <div class="filter_cat_title">Others Info</div>
        <hr>
        <ul>
          <li style="list-style-type: none;margin:15px 5px;" ng-repeat="option in col_others_info_titles.options" ><input class="toggle-visit"  type="checkbox" checked data-column-num="{{$index + col_others_info_titles.start }}"> {{option}} </li>
        </ul>
     </div>
  </div> <!-- End of row div -->
</div> <!-- End of container div -->


<!--  End of  Table Column Filteration Block -->



<div >
  <ul>
    <li style="list-style-type: none;margin:15px 5px;" ng-repeat="flag in display_flags" ><input type="checkbox" ng-model="flag.flag"> {{flag.term}} </li>
  </ul>
</div>

<hr>

<!-- Main Table Block -->


<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
              <th ng-repeat="title in table_titles">{{title}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in table_data">
            <td>{{data.id}}</td>
            <td>{{data.date}}</td>
            <td>{{data.apn}}</td>
            <td>{{data.address}}</td>
            <td>{{data.city}}</td>
            <td>{{data.max_rate}}</td>
            <td>{{data.interest_rate}}</td>
            <td>{{data.loan_amount}}</td>
            <td>{{data.loan_term}}</td>
            <td>{{data.appraisal_value}}</td>  
         </tr>
        </tbody>
    </table>

<!--  End of Main Table Block -->
