<script>
$(document).ready(function(){
    $("#advanced_search_block").hide();
    $("#column_filter_block").hide();

    $("#advanced_search_buttom").click(function(){
        $("#advanced_search_block").slideToggle( "slow" );
    });

    $("#column_filter_buttom").click(function(){
        $("#column_filter_block").slideToggle( "slow" );
    });
});
</script>

<div style="width: 100%; height: 60px; background: #DCE4EA; padding: 10px">
  <div class="container">
    <div class="row">
      <h2 style="color: #0088D4; margin: 0;">List View Columns</h2>
    </div>
  </div>
</div>

<!--  Search Field Block -->
<div class="container" >
  <div class="row" style="margin: 25px 0px;">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="search" class="col-sm-1 col-sm-offset-2"><span style="font-size: 24px;">Search</span></label>
        <div class="col-sm-5">
          <input id="search" class="form-control" ng-model="query">
        </div> 
        <div class="col-sm-4" style="text-align: right">
         <span ng-click="reset()">
            <span id="reset_default_term">Reset To Default</span> <span id="reset_default">X</span>
         </span>
      </div> 
      </div>
    </form>

  </div>
</div>
<!-- End of Search Field Block -->

<!--  Advanced Search Field Block -->
<div  class="container">
  <div class="row" >
   <span id="advanced_search_buttom"  style="color: #0088D4; font-size: 20px;"><span style="color:#DFDFDF; font-size: 15px; margin-right: 5px;"><i class="fa fa-chevron-down" ></i></span >Additional Options</span>
  </div>

  <div id="advanced_search_block" class="row">
      <div class="form-group col-sm-2">
        <select class="my_selected form-control" ng-model="maxRateOption" ng-change="maxRateChanged()">
          <option selected="selected">{{maxRateTerm}}</option>
          <option value="1">1+</option>
          <option value="2">2+</option>
          <option value="3">3+</option>
          <option value="4">4+</option>
          <option value="5">5+</option>
        </select>
      </div>
      <div class="form-group col-sm-2">
        <select class="my_selected form-control" ng-model="minLoanOption" ng-change="MinLoanChanged()">
          <option selected="selected">{{minLoanTerm}}</option>
          <option value="10000">$10,000+</option>
          <option value="20000">$20,000+</option>
          <option value="30000">$30,000+</option>
          <option value="50000">$50,000+</option>
          <option value="75000">$75,000+</option>
          <option value="100000">$100,000+</option>
          <option value="125000">$125,000+</opton>
          <option value="150000">$150,000+</opton>
          <option value="175000">$175,000+</opton>
          <option value="200000">$200,000+</opton>
          <option value="225000">$225,000+</opton>
          <option value="250000">$250,000+</opton>
          <option value="300000">$300,000+</opton>
          <option value="350000">$350,000+</option>
          <option value="400000">$400,000+</option>
          <option value="450000">$450,000+</option>
          <option value="500000">$500,000+</option>
          <option value="600000">$600,000+</option>
          <option value="700000">$700,000+</option>
          <option value="800000">$800,000+</option>
          <option value="1000000">$1M+</option>
          <option value="1250000">$1.25M+</option>
          <option value="1500000">$1.5M+</option>
          <option value="1750000">$1.75M+</option>
          <option value="2000000">$2M+</option>
          <option value="2500000">$2.5M+</option>
          <option value="3000000">$3M+</option>
        </select>
      </div>

      <div class="form-group col-sm-2">
        <select class="my_selected form-control" ng-model="maxLoanOption" ng-change="MaxLoanChanged()" >
          <option selected="selected">{{maxLoanTerm}}</option>
          <option value="10000">$10,000+</option>
          <option value="20000">$20,000+</option>
          <option value="30000">$30,000+</option>
          <option value="50000">$50,000+</option>
          <option value="75000">$75,000+</option>
          <option value="100000">$100,000+</option>
          <option value="125000">$125,000+</opton>
          <option value="150000">$150,000+</opton>
          <option value="175000">$175,000+</opton>
          <option value="200000">$200,000+</opton>
          <option value="225000">$225,000+</opton>
          <option value="250000">$250,000+</opton>
          <option value="300000">$300,000+</opton>
          <option value="350000">$350,000+</option>
          <option value="400000">$400,000+</option>
          <option value="450000">$450,000+</option>
          <option value="500000">$500,000+</option>
          <option value="600000">$600,000+</option>
          <option value="700000">$700,000+</option>
          <option value="800000">$800,000+</option>
          <option value="1000000">$1M+</option>
          <option value="1250000">$1.25M+</option>
          <option value="1500000">$1.5M+</option>
          <option value="1750000">$1.75M+</option>
          <option value="2000000">$2M+</option>
          <option value="2500000">$2.5M+</option>
          <option value="3000000">$3M+</option>
        </select>
      </div>

      <div class="form-group col-sm-2">
        Date: 
      </div>
  </div> <!-- End of Row Div -->
</div> <!-- End of Container Div  -->
<!--  End of Advanced Search Field Block -->

<!-- Table Column Filteration Block -->
<div class="container">
  <div class="row" >
   <span id="column_filter_buttom"  style="color: #0088D4; font-size: 20px;"><span style="color:#DFDFDF; font-size: 15px; margin-right: 5px;"><i class="fa fa-chevron-down" ></i></span >Columns Filtration Options</span>
  </div> <!-- End of row div -->
</div> <!-- End of container div -->


<div id="column_filter_block" class="container">
  <div class="row">
     <div class="col-sm-3">
        <div class="filter_cat_title"> General Info</div>
        <hr>
        <ul>
          <li style="list-style-type: none;margin:15px 5px;" ng-repeat="flag in ids_flags" ><input type="checkbox" ng-model="flag.flag"> {{flag.term}} </li>
        </ul>
     </div>
     <div class="col-sm-3">
        <div class="filter_cat_title">Address</div>
        <hr>
        <ul>
          <li style="list-style-type: none;margin:15px 5px;" ng-repeat="flag in address_flags" ><input type="checkbox" ng-model="flag.flag"> {{flag.term}} </li>
        </ul>
     </div>
      <div class="col-sm-3">
        <div class="filter_cat_title">Loan Info</div>
        <hr>
        <ul>
          <li style="list-style-type: none;margin:15px 5px;" ng-repeat="flag in loan_flags" ><input type="checkbox" ng-model="flag.flag"> {{flag.term}} </li>
        </ul>
     </div>
     <div class="col-sm-3">
        <div class="filter_cat_title">Others Info</div>
        <hr>
        <ul>
          <li style="list-style-type: none;margin:15px 5px;" ng-repeat="flag in other_flags" ><input type="checkbox" ng-model="flag.flag"> {{flag.term}} </li>
        </ul>
     </div>
  </div> <!-- End of row div -->
</div> <!-- End of container div -->


<!--  End of  Table Column Filteration Block -->



<div >
  <ul>
    <li style="list-style-type: none;margin:15px 5px;" ng-repeat="flag in display_flags" ><input type="checkbox" ng-model="flag.flag"> {{flag.term}} </li>
  </ul>
</div>

<hr>
<div>
 <h3>Page Number:</h3> 
       <select class="my_selected" ng-model="itemsPerPage"  ng-click="pageNumberChanged()">
        <option selected="selected">{{pageNumberTerm}}</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
</div>

<!--  Main Table Block -->
<div class="container" style="border: 2px solid blue;">
  <div class="row" style="border: 3px solid red">

  <table  class="table table-striped table-bordered table-hover">
    <tr>
      <th  style="text-align: center;" ng-repeat="flag in ids_flags" ng-show="flag.flag" ng-click="selectSortFunction(flag.key)">
         {{flag.term}}
      </th>
      <th  style="text-align: center;" ng-repeat="flag in address_flags" ng-show="flag.flag" ng-click="selectSortFunction(flag.key)">
         {{flag.term}}
      </th>
      <th  style="text-align: center;" ng-repeat="flag in loan_flags" ng-show="flag.flag" ng-click="selectSortFunction(flag.key)">
         {{flag.term}}
      </th>
      <th  style="text-align: center;" ng-repeat="flag in other_flags" ng-show="flag.flag" ng-click="selectSortFunction(flag.key)">
         {{flag.term}}
      </th>
    <tr ng-repeat="data in table_data | filter: query | orderBy:sortType:sortReverse | loanRange:minLoan:maxLoan | maxRateFilter: maxRate | offset: currentPage*itemsPerPage | limitTo: itemsPerPage">
      <td ng-show="ids_flags[0].flag">{{data.id}}</td>
      <td ng-show="ids_flags[1].flag">{{data.date}}<td>
      <td ng-show="ids_flags[2].flag">{{data.apn}}</td>
      <td ng-show="address_flags[0].flag">{{data.address}}</td>
      <td ng-show="address_flags[1].flag">{{data.city}}</td>
      <td ng-show="loan_flags[0].flag">{{data.max_rate}}</td>
      <td ng-show="loan_flags[1].flag">{{data.interest_rate}}</td>
      <td ng-show="loan_flags[2].flag">{{data.loan_amount}}</td>
      <td ng-show="other_flags[0].flag">{{data.loan_term}}</td>
      <td ng-show="other_flags[1].flag">{{data.appraisal_value}}</td>  
    </tr>
  </table>
  </div>
<!--    Pagination Block -->
  <div class="row" style="text-align: center;">
      <pagination style="display: inline-block;">
            <ul class="pagination">
                <li ng-class="prevPageDisabled()">
                  <a href="" ng-click="prevPage()" >
                    <i class="fa fa-chevron-left"></i>
                  </a>
               </li>
              <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                <a href="">{{n+1}}</a>
              </li>
               <li ng-class="nextPageDisabled()">
                 <a href="" ng-click="nextPage()">
                    <i class="fa fa-chevron-right"></i>
                 </a>
               </li>
          </ul>
      </pagination>
  </div>
<!--    End Of Pagination Block -->
</div>
<!--  End of Table Block -->
<div style="height: 40px; width:100%; border: 2px solid blue;">
  <hr>
</div>

<table datatable="" class="row-border hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>Foo</td>
        <td>Bar</td>
    </tr>
    <tr>
        <td>123</td>
        <td>Someone</td>
        <td>Youknow</td>
    </tr>
    <tr>
        <td>987</td>
        <td>Iamout</td>
        <td>Ofinspiration</td>
    </tr>
    </tbody>
</table>
<!-- Pagination Section -->
