<div ng-app="myApp" ng-controller="myCtrl">


 Search <input ng-model="query">
 <br>
 <br>
<div>
  Max Rate:
</div>
<div>
  Interest Rate:
</div>
<div>
  Loan Amount
</div>
<div>
  Date:
</div>
<div>
 Reset:
</div>

  <table style="border: 1px solid black; width: 1300px;">
    <tr>
      <td><span style="border-radius: 50px; width: 40px; height: 40px;" ng-click="selectSortFunction('id')">ID</span></td>
      <td><span style="border-radius: 50px; width: 40px; height: 40px;" ng-click="selectSortFunction('date')">Date</span><td>
      <td><span style="border-radius: 50px; width: 40px; height: 40px;" ng-click="selectSortFunction('apn')">APN</span></td>
      <td><span style="border-radius: 50px; width: 40px; height: 40px;" ng-click="selectSortFunction('address')">Address</span></td>
      <td><span style="border-radius: 50px; width: 40px; height: 40px;" ng-click="selectSortFunction('city')">City</span></td>
      <td><span style="border-radius: 50px; width: 40px; height: 40px;" ng-click="selectSortFunction('max_rate')">Max Rate</span></td>
      <td><span style="border-radius: 50px; width: 40px; height: 40px;" ng-click="selectSortFunction('interest_rate')">Interest Rate</span></td>
      <td><span style="border-radius: 50px; width: 40px; height: 40px;" ng-click="selectSortFunction('loan_amount')">Loan Amount</span></td>
      <td><span style="border-radius: 50px; width: 40px; height: 40px;" ng-click="selectSortFunction('loan_term')">Loan Term</span></td>
      <td><span style="border-radius: 50px; width: 40px; height: " ng-click="selectSortFunction('appraisal_value')">Appraisal Value</span></td>     
    </tr>
    <tr ng-repeat="data in table_data | filter: query | orderBy:sortType:sortReverse ">
      <td>{{data.id}}</td>
      <td>{{data.date}}<td>
      <td>{{data.apn}}</td>
      <td>{{data.address}}</td>
      <td>{{data.city}}</td>
      <td>{{data.max_rate}}</td>
      <td>{{data.interest_rate}}</td>
      <td>{{data.loan_amount}}</td>
      <td>{{data.loan_term}}</td>
      <td>{{data.appraisal_value}}</td>  
    </tr>

  </table>
</div>