<div ng-app="myApp" ng-controller="myCtrl">

 Search <input ng-model="query">
 <br>
 <br>
  <table style="border: 1px solid black; width: 1300px;">
    <tr>
      <td>ID</td>
      <td>Date<td>
      <td>APN</td>
      <td>Address</td>
      <td>City</td>
      <td>Max Rate</td>
      <td>Interest Rate</td>
      <td>Loan Amount</td>
      <td>Loan Term</td>
      <td>Appraisal Value</td>     
    </tr>
    <tr ng-repeat="data in table_data | filter: query">
      <td>{{data.id}}</td>
      <td>{{data.date}}<td>
      <td>{{data.apn}}</td>
      <td>{{data.address}}</td>
      <td>{{data.city}}</td>
      <td>{{data.max_rate}}</td>
      <td>{{data.interest_rate}}</td>
      <td>{{data.loan_amount}}</td>
      <td>{{data.loan_term}}</td>
      <td>{{data.appraisal_value}}</td>  
    </tr>

  </table>
</div>